# macOS
.DS_Store

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/local-plugins.sbt
.history
.ensime
.ensime_cache/
.sbt-scripted/
local.sbt
.cache
.lib/

# Bloop
.bsp
# scala setup-ide .
.scala-build

# Compile and runtime artifacts
*.class
*.log

# JVM crash logs
hs_err_pid*

# VS Code
.vscode/

# Metals
.bloop/
.metals/
metals.sbt

# IDEA
.idea
.idea_modules
/.worksheet/
